body {
  background-color: #191919;
  color: #404040;
  font: 12px/1.4 "Gotham SSm A", "Helvetica Neue", Helvetica, Arial;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: #FFF;
  text-decoration: none;
}

.menu-block {
  background: #212123;
  color: #393a3c;
  margin-bottom: 30px;
  width: 250px;
}

.menu-category > span {
  color: #BEBEBE;
  display: block;
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
  position: relative;
}

.menu-category span {
  display: block;
  font-weight: 600;
}

.menu-category span:hover {
  color: #FFF;
  cursor: pointer;
}

.menu-category:not(.sub) > span {
  background: #2C2D2F;
}

.menu-category:not(.sub) > span:hover {
  background: #DB3839;
  border-left-color: #DB3839;
}

.menu-category.sub span:hover {
  color: #DB3839;
}

.menu-category i {
  position: absolute;
  right: 5px;
}

.menu-category ul {
  padding: 10px 0 10px 20px;
}

.menu-category ul span {
  padding: 5px;
}