<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/menu.css') }}">
    <style>
.word {
    width: 815px;
    background: #f0f0f0;
    border: 1px solid #333;
    padding: 10px;
    font-size: 18px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
   }
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<body data-spy="scroll" data-target="#myScrollspy">
	<!-- Шапка -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{url_for('index')}}">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
		
	</div><!-- /.container-fluid -->
</nav>


<!-- Main Content To Show Dynamic Affix -->
<div class="container" name="toTop" id="topPos">
	
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-heading">{% block mainHeading %} {% endblock %}</h1>
		</div>
	</div>
	<div class="row">

        
		<!-- Меню -->
        <nav class="col-md-3 hidden-sm hidden-xs menu-block" id="myScrollspy">
            <ul>
                {% for lvl1 in level1 %}
                  <li class="menu-category">
                      <span>{{ lvl1['id'] }}: {{ lvl1['alias'] }} <a href="{{lvl1['id']}}/edit">edit</a> <i class="icon icon-plus"></i></span>
                      <ul style="display: none;">
          
                          {% for lvl2 in Level2.select().where(Level2.owner_id == lvl1.id).dicts().execute() %}
                              <li class="menu-category sub">
                                  <span>{{ lvl2['id'] }}: {{ lvl2.alias }}  <a href="{{lvl2['id']}}/edit2">edit</a> <i class="icon icon-plus"></i></span>
                                  <ul style="display: none;">
          
                                      {% for lvl3 in Level3.select().where(Level3.owner_id == lvl2.id).dicts().execute() %}
                                          <li><span> <a href="#{{ lvl3['alias'] }}"{{ lvl3['id'] }}: {{ lvl3['alias'] }}"> {{ lvl3['id'] }}: {{ lvl3['alias'] }}  </a> </span></li>
										{# <li><a href="#sectionThree">Section Three</a></li>#}
                                      {% endfor %}
          <li></li><span><a href="{{lvl2['id']}}/create3">Новая часть...</a></span></li>
                                  </ul>
                              </li>
                          {% endfor %}
           <li class="menu-category sub">
                  <span><a href="{{lvl1['id']}}/create2">Новая подкатегория...</a></span>
                </li>
                      </ul>
                  </li>
                {% endfor %}
                <li class="menu-category">
                  <span><a href="{{url_for('create')}}">Новая категория...</a></span>
                </li>
            </ul>
          </nav>
		<!-- //Close Col -->



		<!-- Контент -->
		<div class="col-md-9">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					{% block Heading %} {% endblock %}
				</div>

				<div class="panel-body">
					{% block content %} {% endblock %}
				</div>

			</div>	
		</div>
		<!-- //Close Col -->



	</div>
</div>

<!-- <div id="fake-footer"></div> -->
</body>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
<script  src="{{ url_for('static', filename = 'JS/main.js') }}"></script>
<script src = "{{ url_for('static', filename = 'JS/menu.js') }}"></script>

</body>
</html>
